body {
  background-color: #23272a;
  color: white;
  overflow: hidden;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.calculator {
  background-color: #2c2f33;
  border-radius: 20px;
  margin: auto;
  padding: 2rem;
  width: 18rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.value {
  background-color: #23272a;
  border: none;
  color: #ffffff;
  font-size: 1.4rem;
  height: 60px;
  margin-bottom: 20px;
  text-align: right;
  width: 94%;
}

.num {
  background-color: #7289da;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  height: 49px;
  line-height: 47px;
  margin-right: 20px;
  margin-top: 10px;
  text-align: center;
  width: 49px;
}

.num.clear {
  background-color: #ff6b6b;
  color: #ffffff;
}

.num.plus {
  background-color: #43b581;
}
.num.equal i {
  font-size: 1.5rem;
  line-height: 32px;
}

.num:hover {
  opacity: 0.7;
}
